build/
.vs
.vscode/
external/include/
external/thirdparty/
example
viewer
imgui.ini
dato/
dato2/
scripts/opensim*
opensim.log
cmake-build-debug/
cmake-build-release/
.idea/
scripts/External/libtorch/
scripts/External/libtorch.zip
out/
out.txt